body {
    background-color: #f2f2f2;
    font-family: Arial;
}

h1 {
    color: #006600;
    text-align: center;
    font-size: large;
    background-color: #ff9900;
}

.tanggal {
    color: #555555;
    text-align: center;
}

h2 {
    color: #006600;
    font-size: medium;
}

p {
    font-size: medium;
    line-height: 1.6;
}

img {
    display: block;
    margin: auto;
}
